<ion-view view-title="ADN">
  <ion-content class="ad">
    <ion-list>
      <center><h1>ADN</h1></center>
      Puede decirse que el ADN presenta la información genética que usan los seres vivos para funcionar. Este ácido nucleico también posibilita que los datos sean transmitidos a través de la herencia.

      Suele compararse el ADN con un código, ya que actúa como una guía con las   instrucciones para la construcción del resto de los componentes de las células.Cada segmento de ADN que contiene estos datos se denomina gen.
      <p>ADN chain</p>
      <canvas></canvas>

    </ion-list>
  </ion-content>
</ion-view>
