<ion-view view-title="BioLion">
  <ion-content class="padding"><br><br>
    <center><h1>La Importancia del Agua</h1></center>
    <center><h6>"El agua no solo es importante como recurso vital sino también como recurso económico e industrial, ya que se usa en innumerables actividades industriales, supone un consumo elevado y casi siempre resulta contaminada"
    </h6></center>
    <p>El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.</p><p>Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua. <br>

    	<center><iframe  width="560" height="315"src="https://www.youtube.com/embed/KmQX_fR3NNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    
  </ion-content>
</ion-view>
