<ion-view view-title="Tabla Nutricional">
  <ion-content class="tatu">
    <ion-list>
    	<body>
        <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #ADE5A2;}

#customers tr:hover {background-color: #A2E5E1;}

#customers th {
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
   <table id="customers">
  <tr>
    <th>Comidas al Día</th>
    <th>Desayuno</th>
    <th>Merienda</th>
     <th>Almuerzo</th>
    <th>Merienda</th>
    <th>Cena</th>
  </tr>
  <tr>
    <td>Lunes</td>
    <td>Pancake Integral</td>
    <td>Frutas Pan y queso</td>
    <td>Lomito de res con champiñones y cebolla picados</td>
    <td>Porridge de avena</td>
    <td>Pollo y verduras asadas</td>
  </tr>
  <tr>
    <td>Martes</td>
    <td>Cereales</td>
    <td>Galletas de Avena y leche</td>
    <td>Pechuga de pollo guisada con verduras</td>
    <td>Tostada integral con Pate de zanahoria</td>
    <td>Espagueti con pollo y espinacas</td>
  </tr>
  <tr>
    <td>Miercoles</td>
    <td>Huevos Revueltos con tomate y cebolla</td>
    <td>Rollos de Jamón y queso</td>
    <td>Pasta con salsa a base de pechuga molida, verdura y tomate</td>
    <td>Almendras y Plátano</td>
    <td>Ensalada de pasta con limón y verduras verdes</td>
  </tr>
  <tr>
    <td>Jueves</td>
    <td>Frutas con Yogurt</td>
    <td>Batido de yogur y frutas</td>
    <td>Pescado a la plancha con vegetales al horno salteados</td>
    <td>Pudín de avena, chía y mango</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Viernes</td>
    <td>Pan Integral con Jamón y Lechuga</td>
    <td>Cereal y Frutas</td>
    <td>Lomo de cerdo al horno y mermelada de manzana sin azúcar,acompañado de vegetales y arroz integral</td>
    <td>Barritas energéticas</td>
    <td>Envuelto de tilapia con tomate</td>
  </tr>
  <tr>
    <td>Sabado</td>
    <td>Batidos Saludables</td>
    <td>Sandwich de manzana con Mantequilla</td>
    <td>Pechuga a lla plancha con camote al horno y verdura picada</td>
    <td>Mnzana asada con canela</td>
    <td>Arroz Integral con huevo Frito</td>
  </tr>
  <tr>
    <td>Domingo</td>
    <td>Sandwich con salmón y rucúla</td>
    <td>Bocadillo de queso tomate y rúcula</td>
    <td>Quesadilla Vegetariana de Espinaca</td>
    <td>Queso fresco y miel</td>
    <td>Pan sin levadura con Verduras</td>
  </tr>
  </tr>
</body>
    </ion-list>
  </ion-content>
</ion-view>
